---
// types
import { Nfts } from "../../../utils/types";
// Nfts from db
import { Db } from "../../../utils/supabase/adapter";
const data = (await Db.getData({
  table: "Nfts",
  column: "*",
})) as unknown as Nfts;
// components
import Nft from "../../../components/Nft";
// styles
import "../../../styles/sections-style/MarketplacePage/NftsPage/Nfts.scss";
---

<section class="Nfts">
  {data && data.map((el) => <Nft nft={el} />)}
</section>
