---
// styles
import "../../styles/sections-style/HomePage/Count.scss";
---

<section class="Count">
  <h2>We have rare & unique antique NFTs collections</h2>
  <p>
    In commodo auctor eget congue sit. Ultrices eget pretium sit euismod mi id.
    Risus, aliquam odio posuere ac in in nisl sed augue. Porta aenean egestas
    malesuada in pulvinar enim viverra.
  </p>
  <div class="nums">
    <div class="num">
      <h6><span class="nfts"></span>K+</h6>
      <p>SOLD NFTS</p>
    </div>
    <div class="num">
      <h6><span class="prod"></span>K+</h6>
      <p>PRODUCTS</p>
    </div>
    <div class="num">
      <h6><span class="arts"></span>K+</h6>
      <p>ARTISTS</p>
    </div>
  </div>
</section>
