---
// styles
import "../../styles/sections-style/HomePage/NewsLetter.scss";
---

<section class="NewsLetter">
  <h2>Subscribe to never miss new updates from us</h2>
  <p>
    In commodo auctor eget congue sit. Ultrices eget pretium sit euismod mi id.
    Risus, aliquam odio posuere ac in in nisl sed augue. Porta aenean egestas
    malesuada in pulvinar enim viverra.
  </p>
  <form method="post">
    <input type="email" placeholder="Write your email here" />
    <button type="submit">Subscribe</button>
  </form>
</section>
