---
// components
import Nft from "../../components/Nft";
// types
import { Nfts } from "../../utils/types";
// nfts
import { Db } from "../../utils/supabase/adapter";
const data = (await Db.getData({
  table: "Nfts",
  column: "*",
})) as unknown as Nfts;
// styles
import "../../styles/sections-style/HomePage/RecentDrops.scss";
---

<section class="RecentDrops">
  <h2>Recent drops</h2>
  <swiper-container class="mySwiper RecentDrops">
    {
      data &&
        data
          .map((nfts) => (
            <swiper-slide>
              <Nft nft={nfts} />
            </swiper-slide>
          ))
          .splice(3, 7)
    }
  </swiper-container>
</section>
<script>
  // render on client side
  import { swiperBreakpoints } from "../../utils/utils";

  let swiperEl = document.querySelector(".mySwiper.RecentDrops");
  swiperBreakpoints(swiperEl);
</script>
