---
// components
import Nft from "../../components/Nft.astro";
// utils
import { recentDrops } from "../../utils/utils";
// styles
import "../../styles/sections-style/HomePage/RecentDrops.scss";
---

<section class="RecentDrops">
    <h2>Recent drops</h2>
    <swiper-container class="mySwiper RecentDrops">
        {
            recentDrops.map((img) => (
                <swiper-slide>
                    <Nft nft={img} />
                </swiper-slide>
            ))
        }
    </swiper-container>
</section>
<script>
    // render on client side
    import { swiperBreakpoints } from "../../utils/utils";

    let swiperEl = document.querySelector(".mySwiper.RecentDrops");
    swiperBreakpoints(swiperEl);
</script>
