---
// routes
import { marketplace } from "../../utils/routes";
// types
import { Collections } from "../../utils/types";
// collections
import { Db } from "../../utils/supabase/adapter";
const collections = await Db.getData({
  table: "Collections",
  column: "*",
}) as unknown as Collections;
// styles
import "../../styles/sections-style/MarketplacePage/Collections.scss";
import Collection from "../../components/Collection";
---

<section class="Collections">
  <h3>Collections</h3>
  <div class="Container">
    {
      collections
        .map((collection) => <Collection collections={collection} />)
        .splice(0, 7)
    }
  </div>
  <a href={marketplace.collections}><button>See more</button></a>
</section>