---
// styles
import "../../styles/sections-style/MarketplacePage/Hero.scss";
---

<section class="Hero ">
    <h2>Marketplace</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa
        accusamus dolorum eos. 
    </p>
</section>
