---
// components
import Nft from "../../components/Nft";
// routes
import { marketplace } from "../../utils/routes";
// types
import { Collections } from "../../utils/types";
// nfts
import { Db } from "../../utils/supabase/adapter";
const recentDrops = (await Db.getData({
  table: "Nfts",
  column: "*",
})) as unknown as Collections;
// styles
import "../../styles/sections-style/MarketplacePage/Nfts.scss";
---

<section class="Nfts">
  <h2>Nfts</h2>
  <div class="Container">
    {recentDrops && recentDrops.map((item) => <Nft nft={item} />)}
  </div>
  <a href={marketplace.nfts}><button>See more</button></a>
</section>
