---
import "../../styles/sections-style/BlogPage/Hero.scss";
---

<section class="Hero">
  <h2>Blog</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore atque
    totam quaerat facilis quos velit, provident dolor, impedit maxime commodi
    eum maiores soluta aliquam architecto, cum nihil perspiciatis quo dolorem.
  </p>
</section>
