---
// styles
import "../../styles/sections-style/BlogPage/Tags.scss";
---

<section class="Tags">
    <h3>Tags</h3>
    <div class="container">
        <p>Пока что нету никаких тегов..</p>
    </div>
</section>
