---
import "../../styles/sections-style/ArtistsPage/Hero.scss"
---

<section class="Hero">
  <h2>Artists</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente
    distinctio cumque voluptas fuga alias aliquid culpa quia ratione. Quisquam,
    magnam unde? Ea quam officia quidem recusandae autem rem adipisci.
  </p>
</section>
