---
// components
import Collection from "../../../components/Collection";
// styles
import "../../../styles/sections-style/MarketplacePage/CollectionsPage/Collections.scss";
// types
import { Collections } from "../../../utils/types";
// collections
import { Db } from "../../../utils/supabase/adapter";
const data = (await Db.getData({
  table: "Collections",
  column: "*",
})) as unknown as Collections;
---

<section class="Collections">
  {data.map((el) => <Collection collections={el} />)}
</section>
